.container{
    width: 500px;
    height: 200px;
    background-color: white;
    float: inline-start;
    margin-left: 500px;

}
.h3
{
    font-weight: bold;
}

.container2{
    width: 500px;
    height: 250px;
    background-color: white;
    float:left;
}
.h31{
    font-weight: bold;
}
.container3{
    width: 500px;
    height: 300px;
    background-color: white;
    float: right;
    margin-top: 250px;

}
.h32{
    font-weight: bold;
    
}
.h33{
    font-weight: bold;
}
.container4{
    width: 100%;
    height: 500px;
    background-color: white;
    float: left;
}
p{
    font-size: small;
}